<form
  (ngSubmit)="
    onSubmit({
      title: titleInput.value,
      request: requestInput.value,
      button: btn
    })
  "
>
  <app-input label="Title">
    <input name="title" id="title" #titleInput />
  </app-input>
  <app-input label="Request">
    <textarea name="request" id="request" rows="3" #requestInput></textarea>
  </app-input>
  <p>
    <!-- adding a template reference variable to the button to demonstrate that it's an instance to the button component -->
    <button appButton #btn>
      Submit
      <span ngProjectAs="icon">⌲</span>
    </button>
  </p>
</form>
